:root {
    --primary: #6495ED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background-color: #0a0a0a;
    color: #e5e5e5;
    line-height: 1.6;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */

nav {
    position: sticky;
    top: 0;
    background-color: #0D1A1D;
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid white;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo {
    font-size: 2rem;
    font-weight: 650;
    color: var(--primary);
    display: flex;
    width: 190px;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 550;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #88A6A9;
}

.nav-buttons{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.btn-outline {
    border: 2px solid white;
    color: white;
}

.btn-primary {
    background: var(--primary);
    color: black;
    
}

.btn-primary:hover {
    background: #88A6A9;
    transform: translateY(-2px);
}

/* Hero */

.hero {
    height: 100vh;
    background-image: url('./assets/bg1.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 5.3rem;
    line-height: 1.2;
    font-weight: 650;
    margin-bottom: 25px;
    color: white;
}


.hero p {
    font-size: 1.3rem;
    margin-bottom: 25px;
}

/* Features */

.section {
    padding: 60px 50px;
}

.section-heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 600;
}

.features-grid {
    display: flex;
    gap: 20px;
}

.feature-card {
    background-color: #363738;
    height: 220px;
    width: 450px;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    border-color: black;
    transition: 0.4s;
    display: flex;

    
}

.feature-card:hover {
    transform: translateY(-5px);
    border: 1px solid white;
}

.feature-card h3 {
    font-size: 1.2rem;
    margin: 15px 0;
    color: black;
    line-height: 1.4rem;

}

.feature-card img {
    height: 180px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid white;
}

/* Testimonials */

.testimonials-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.testimonial-card {
    height: 380px;
    width: 350px;
    background-color: #363738;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}



.author {
    display: flex;
    align-items: center;
    gap: 20px;
}

.author img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
